[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BEDASSLE"]
	path = BEDASSLE
	url = https://github.com/cran/BEDASSLE
[submodule "conStruct"]
	path = conStruct
	url = https://github.com/gbradburd/construct
